*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container{
    max-width: 1000px;
    margin: auto;
    padding-top: 100px;
}

.container .img-container {
    height: 500px;
    width: 1000px;
    position: relative;
    display: flex;
    flex-direction: column-reverse;
}

.container .img-container img {
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.btn {
    color: white;
    top: 50%;
    font-size: 40px;
    cursor: pointer;
    background-color: rgba(0, 0, 139, 0.39);
    padding: 5px;
    border-radius: 25px;
}

#btn-left {
    position: absolute;
}

#btn-right {
    position: absolute;
    right: 0px;
}

#des {
    position: absolute;
    bottom: 10px;
    right: 10px;
    color: white;
    font-size: 20px;
    text-align: right;
}

#thumbnails {
    display: flex;
    background-color: black;
}

.thumbnails {
   width: calc(100% / 5);
   height: 100px;
   object-fit: cover;
   opacity: 0.5;
}

.active {
    border: rgba(9, 255, 0, 0.822) 3px solid;
    opacity: 1;
}